@charset "UTF-8";
@font-face {
  font-family: "CenturyGothic";
  src: url("assets/fuentes/CenturyGothic.ttf");
}
.App {
  font-family: "CenturyGothic";
}

/* Estilos de la cabecera */
.App-header {
  position: fixed;
  z-index: 100;
  background: #ecf0f1;
  padding-bottom: 4px;
  color: #1e272e;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}
.App-header .titulo {
  padding-top: 10px;
  font-size: 50px;
  font-weight: bold;
  color: #A004A8;
}
.App-header a {
  text-decoration: none;
  color: #A004A8;
}
.App-header audio {
  margin-top: 4px;
}

.div_aux {
  width: 100%;
  height: 10vh;
}

/* Menú */
.menu {
  width: 24%;
  padding-top: 5px;
  z-index: 100;
  position: absolute;
  background: rgba(236, 240, 241, 0.5);
  padding-left: 25px;
  padding-bottom: 40px;
  margin-left: 4%;
  transition: 400ms;
  height: 90.3vh;
}
.menu .div_aux_menu {
  margin-top: 30px;
}

.oculto {
  width: 24%;
  z-index: 100;
  position: absolute;
  background: rgba(236, 240, 241, 0.5);
  padding-left: 25px;
  margin-left: 4%;
  height: 90.3vh;
  transition: 400ms;
  height: 0;
  font-size: 0;
}

.oculto2 {
  transition: 400ms;
  height: 0;
  width: 0;
  font-size: 0px;
}
.oculto2 a {
  width: 0;
  padding: 0;
  background: 0;
}

.active {
  padding: 4px;
  border-radius: 4px;
  background: #8306BF !important;
  color: #ecf0f1 !important;
}

.item-menu {
  margin-bottom: 30px;
}
.item-menu a {
  padding: 4px;
  border-radius: 4px;
  background: #ecf0f1;
  transition: 400ms;
}
.item-menu a:hover {
  background: #8306BF;
  color: white;
}

.content-menu {
  margin-top: 5vh;
  z-index: 100;
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: flex-end;
  transition: 400ms;
  margin-left: 30px;
}

/* parte intro */
.intro {
  width: 100%;
  height: 90vh;
  background-image: url("assets/gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro .mensaje {
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #1e272e;
}

.intro_historia {
  background-image: url("assets/img/jhin.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro_historia .mensaje {
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #1e272e;
}

.intro_jugabilidad {
  background-image: url("assets/img/jhin1.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro_jugabilidad .mensaje {
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #1e272e;
}

.intro_curiosidades {
  background-image: url("assets/img/jhin2.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro_curiosidades .mensaje {
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #1e272e;
}

.intro_frases {
  background-image: url("assets/img/jhin3.jpg");
  width: 100%;
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro_frases .mensaje {
  color: white;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px #1e272e;
}

/* Contenido */
.fila {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background: #ecf0f1;
}

.link {
  margin: 0;
  width: 50%;
  height: 45vh;
  transition: 600ms;
}
.link .router-styles {
  text-decoration: none;
  color: #ecf0f1;
  width: 100%;
  height: 45vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 0;
  transition: 1000ms;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 1px 1px #1e272e;
}
.link .router-styles:hover {
  font-size: 40px;
  color: #ecf0f1;
  background: rgba(255, 255, 255, 0.3);
}

.jhin1 {
  background-image: url("assets/img/jhin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.jhin2 {
  background-image: url("assets/img/jhin1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.jhin3 {
  background-image: url("assets/img/jhin2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.jhin4 {
  background-image: url("assets/img/jhin3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

/* Historia */
.historia_texto {
  width: 100%;
  padding: 100px;
  padding-top: 40px;
  background: #ecf0f1;
}
.historia_texto h2 {
  margin-bottom: 20px;
  text-align: center;
}
.historia_texto p {
  text-align: justify;
  font-family: sans-serif;
  width: 100%;
}

/* Jugabilidad */
.resumen {
  padding: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.resumen h3 {
  margin: 10px;
}
.resumen div {
  display: flex;
  flex-direction: row;
}

.dificultad {
  width: 40px;
  height: 16px;
  background: #8306BF;
  transform: skew(-40deg);
  margin: 10px;
  margin-top: 20px;
}

.dificultad0 {
  width: 40px;
  height: 16px;
  background: #4444;
  transform: skew(-40deg);
  margin: 10px;
  margin-top: 20px;
}

.habilidades {
  height: 100vh;
}
.habilidades h2 {
  font-weight: bold;
  text-align: center;
  margin: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.habs_img {
  padding: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 0;
  padding-top: 0;
  height: 110px;
}
.habs_img div {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.habs_img .jhin_hab {
  cursor: pointer;
  border-radius: 10px;
  height: 100px;
  transition: 400ms;
}
.habs_img .jhin_hab:hover {
  width: 110px;
  height: 110px;
}

p {
  text-align: justify;
  width: 570px;
  font-family: sans-serif;
}

.hab_mostrar {
  width: 100%;
  padding: 50px;
  display: flex !important;
  flex-direction: column;
  transition: 400ms;
  padding-top: 20px;
}
.hab_mostrar h2 {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}
.hab_mostrar div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hab_mostrar div p {
  margin-right: 30px;
  font-size: 16px;
}

.hab_oculto {
  height: 0;
  font-size: 0;
}
.hab_oculto h2 {
  display: none;
  height: 0;
  font-size: 0;
}
.hab_oculto video {
  height: 0;
}

/*curiosidades*/
.curiosidades {
  background: #ecf0f1;
}

.curiosidades_content {
  background: #ecf0f1;
  margin-top: 60px;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.curiosidades_content p {
  text-align: justify;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Frases */
.contenedor_audio {
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.contenedor_audio div {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.contenedor_audio audio {
  margin: 40px;
  text-decoration: none;
}

/*# sourceMappingURL=App.css.map */
